.icon{
    font-size: 20px;
    color: white;
}

.ligne{
    display: flex;
}

.colonne1{
    flex: 10%;
}

.colonne2{
    padding-left: 2%;
    flex: 90%
}

.formulaire{
    width: 40%;
}

.centrer{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titre{
    text-align: center;
    margin-top: 8%;
}

.petiteLigne{
    text-align: center;
    font-size: 12px;
}

.photoProfile{
    width: 70%;
    border-radius: 50%;
}

.cartePublication{
    margin-top: 1%;
    margin-bottom: 5%;
    width: 50%;
}

.carteContenu{
    width: 50%;
}

.carteCommentaire{
    width: 50%;
    margin-bottom: 1%;
}

.elementDroite{
    display: block;
    margin-left: auto;
}

.texteContenu{
    font-size: 10px;
}

@media screen and (max-width: 900px){
    .formulaire{
        width: 80%;
    }

    .photoProfile{
        width: 50%;
    }

    .colonne1{
        flex: 20%;
    }

    .colonne2{
        flex: 80%;
    }

    .cartePublication{
        width: 90%;
    }

    .carteContenu{
        width: 90%;
    }

    .carteCommentaire{
        width: 90%;
    }
}