.icon{
    font-size: 20px;
    color: white;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
}

.modal-entete{
    padding: 2px 16px;
    background-color: #c3c3c3;
    text-align: center;
}

.modal-corps{
    padding: 2px 16px;
    text-align: center;
}

.modal-contenu{
    position: relative;
    background-color: white;
    margin: 3% auto auto auto;
    border: 1px solid #888;
    width: 80%;
}

.fermer{
    color: #aaa;
    float: right;
}

.fermer:hover, .fermer:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* -------------------------------------------------------- */
.photoProfile{
    width: 60%;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.labelProfil{
    font-size: 10px;
    text-align: center;
}

.resultatProfil{
    display: block;
}

.resultatProfilCol{
    width: 10%;
    display: inline-block;
}

@media screen and (max-width: 900px){
    .resultatProfilCol{
        width: 20%;
    }
}