.containerP{
    margin: auto;
    width: 70%;
}

#banniere{
    width: 100%;
    height: 300px;
    margin-top: 1%;
}

#pp{
    width: 14%;
    border-radius: 50%;
    border: 3px solid black;
    margin-top: -30px;
    margin-left: 15px;
}