.icon{
    font-size: 20px;
    color: white;
}

.ligneE{
    display: flex;
}

.colonneE1{
    flex: 10%;
}

.colonneE2{
    padding-left: 2%;
    flex: 90%
}

.formulaire{
    width: 40%;
}

.centrer{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titre{
    text-align: center;
    margin-top: 8%;
}

.petiteLigne{
    text-align: center;
    font-size: 12px;
}

.photoProfile{
    width: 70%;
    border-radius: 50%;
}

.cartePublication{
    margin-top: 1%;
    margin-bottom: 5%;
    width: 50%;
}

.carteContenu{
    width: 50%;
}

.carteCommentaire{
    width: 50%;
    margin-bottom: 3%;
}

.elementDroite{
    display: block;
    margin-left: auto;
}

.texteContenu{
    font-size: 10px;
}

.unCommentaire{
    margin-bottom: 1%;
}

.photoPublication{
    width: 50%;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
}

.modal-entete{
    padding: 2px 16px;
    background-color: #c3c3c3;
    text-align: center;
}

.modal-corps{
    padding: 2px 16px;
    text-align: center;
}

.modal-contenu{
    position: relative;
    background-color: white;
    margin: 3% auto auto auto;
    border: 1px solid #888;
    width: 80%;
}

.fermer{
    color: #aaa;
    float: right;
}

.fermer:hover, .fermer:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.supprimerLien, .supprimerLien:hover{
    color: inherit;
    text-decoration: none;
}

.photoProfile{
    width: 60%;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.labelResultat{
    font-size: 10px;
    text-align: center;
}

.resultat{
    display: block;
}

.resultatCol{
    width: 10%;
    display: inline-block;
}

.image{
    width: 100%;
    display: block;
    margin: auto;
}

@media screen and (max-width: 900px){
    .formulaire{
        width: 80%;
    }

    .photoProfile{
        width: 50%;
    }

    .colonneE1{
        flex: 20%;
    }

    .colonneE2{
        flex: 80%;
    }

    .cartePublication{
        width: 90%;
    }

    .carteContenu{
        width: 90%;
    }

    .carteCommentaire{
        width: 90%;
    }

    .resultatCol{
        width: 20%;
    }
}