#containerM{
    display: grid;
    grid-template-columns: 500px 1030px;
}

#listcontact {
    height: 650px;
    overflow-y: scroll;
}

#discussion{
    height: 550px;
    overflow-y: scroll;
}

.apercuMessage{
    font-size: 13px;
}

.photoProfileM{
    width: 25%;
    border-radius: 50%;
}

.bulleD{
    display: grid;
    grid-template-columns: 50px 900px;
    padding: 5px;
}

.carteB{
    padding: 5px;
}

.bulleR{
    display: grid;
    grid-template-columns: 900px 50px;
    padding: 5px;
    justify-content: right;
}

.carteB{
    padding: 5px;
}